<!doctype html>
{% load static %}

<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'notes/styles/getit.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
    
    <h1>Update Note</h1>

    <form method="POST" class="form-card">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn">Salvar</button>
    </form>

</body>
</html>