<!doctype html>
{% load static %}

<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'notes/styles/getit.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
    
  <ul class="card-container">
    {% for tag in tags %}
    <div class="card">
        <a href="{% url 'tag_notes' tag.name %}" >
            <h3 class="card-title">{{tag.name}}</h3>
        </a>
    </div>
    {% endfor %}
  </ul>
<script type="text/javascript" src="{% static 'notes/scripts/getit.js' %}"></script>
</body>
</html>